<!DOCTYPE HTML>
<html>
	<head>
		<title>Local Lending</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

			<div id="wrapper">
					<header id="header" class="alt">
						<h1>Local Lending</h1>
						<p>Meet up with people nearby to borrow or lend things!</p>
						<a href={{ url_for('login') }}><button>Log in</button></a>
						<a href={{ url_for('signup') }}><button>Sign up</button></a>
					</header>
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">What is LL?</a></li>
							<li><a href="#first">Features</a></li>
							<li><a href="#cta">Get Started</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<h3>Local lending is a platform where people can lend their belongings
											to those who need them. Your items are secured via in-person authentication,
											 so you can have the peace of mind knowing that your lent items are going
											 to be used and returned responsibly.</h3>
									</div>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Features</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon major style1 fa-diamond"></span>
										<h3>Totally Free to Use</h3>
										<p>Local lending is free to use amongst your peers.</p>
									</li>
									<li>
										<span class="icon major style3 fa-user"></span>
										<h3>Easy to Use</h3>
										<p>Users of Local lending just have to sign up, search for something that they need, and then meet up.</p>
									</li>
									<li>
										<span class="icon major style5 fa-lock"></span>
										<h3>Safe and secure</h3>
										<p>All transactions are approved by both parties at the time of exchange to make sure nobody gets scammed.</p>
									</li>
								</ul>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Sign up to use Local Lending!</h2>
									<p>Sign up today to avoid buying things you'll only need once!</p>
								</header>
								<footer class="major">
									<ul class="actions">
										<li><a href={{ url_for('signup') }} class="button special">Sign up!</a></li>
									</ul>
								</footer>
							</section>
					</div>
					<br />
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>

	</body>
</html>
