<!DOCTYPE HTML>
<html>
	<head>
		<title>Local Lending</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }}"
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

			<div id="wrapper">
					<header id="header" class="alt">
						{% if user == None %}
						<h1>Hello User!</h1>
						<p>Meet up with friends to borrow or lend things!</p>
						{% else %}
						<h1>Hello {{ user }}!</h1>
						<p>Meet up with friends to borrow or lend things!</p>
						{% endif %}
					</header>

				<!-- Main -->
					<div id="main">
						<div id="searchwrapper">
							<form id="search-form" action="/search" method="GET">
								<div id="search-bar-wrapper">
									<input type="text" name="query" placeholder="Search for anything" id="searchbar" autofocus required>
									<button id="search-button">Search</button>
								</div>
								<div id="cat-toggle-wrapper">
									<span id="cat-toggle">Categories</span>
								</div>
								<div id="search-cats" style="display:none">
									<input type="radio" name="cat" id="cat-appliances" value='Appliances'><label for="cat-appliances">Appliances</label>
									<input type="radio" name="cat" id="cat-bikes" value="Bikes"><label for="cat-bikes">Bikes</label>
									<input type="radio" name="cat" id="cat-boats" value="Boats"><label for="cat-boats">Boats</label>
									<input type="radio" name="cat" id="cat-books" value="Books"><label for="cat-books">Books</label>
									<input type="radio" name="cat" id="cat-camping" value="Camping"><label for="cat-camping">Camping</label>
									<input type="radio" name="cat" id="cat-cellphones" value="Cell Phones"><label for="cat-cellphones">Cellphones</label>
									<input type="radio" name="cat" id="cat-computers" value="Computers"><label for="cat-computers">Computers</label>
									<input type="radio" name="cat" id="cat-gardening" value="Gardening"><label for="cat-gardening">Gardening</label>
									<input type="radio" name="cat" id="cat-furniture" value="Furniture"><label for="cat-furniture">Furniture</label>
									<input type="radio" name="cat" id="cat-photovideo" value="Photo/Video"><label for="cat-photovideo">Photo/Video</label>
									<input type="radio" name="cat" id="cat-instruments" value="Musical Instruments"><label for="cat-instruments">Musical Instruments</label>
									<input type="radio" name="cat" id="cat-sports" value="Sports"><label for="cat-sports">Sports</label>
									<input type="radio" name="cat" id="cat-toysgames" value="Toys/Games"><label for="cat-toysgames">Toys/Games</label>
								</div>
							</form>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Etiam feugiat</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>
			<script src="{{ url_for('static',filename='js/search.js') }}" /></script>
	</body>
</html>
