<!DOCTYPE HTML>
<html>
	<head>
		<title>Local Lending</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

			<div id="wrapper">
					<header id="header" class="alt" style="padding-bottom: 10px;">
						{% if user == None %}
						<h1>Hello User!</h1>
						<p>Meet up with friends to borrow or lend things!</p>
						{% else %}
						<h1>Hello {{ user }}!</h1>
						<p>Meet up with friends to borrow or lend things!</p>
						{% endif %}

						<a disabled="disabled" style="display:none;margin-left: auto;margin-right: auto;" id="show" class="button special fit">Thanks for sharing!</a>
					</header>

				<!-- Main -->
					<div id="main">
						<div id="searchwrapper">
							<form id="search-form" action="/results" method="POST">
								<div id="search-bar-wrapper">
									<input type="text" name="query" placeholder="Search for anything" id="searchbar" autofocus required>
									<button id="search-button">Search</button>
								</div>
								<div id="cat-toggle-wrapper">
									<span id="cat-toggle">Categories</span>
								</div>
								<div id="search-cats" style="display:none">
									<input type="radio" name="cat" id="cat-all" value='All' checked><label for="cat-all">All</label>
									<input type="radio" name="cat" id="cat-appliances" value='Appliances'><label for="cat-appliances">Appliances</label>
									<input type="radio" name="cat" id="cat-bikes" value="Bikes"><label for="cat-bikes">Bikes</label>
									<input type="radio" name="cat" id="cat-boats" value="Boats"><label for="cat-boats">Boats</label>
									<input type="radio" name="cat" id="cat-books" value="Books"><label for="cat-books">Books</label>
									<input type="radio" name="cat" id="cat-camping" value="Camping"><label for="cat-camping">Camping</label>
									<input type="radio" name="cat" id="cat-clothes" value="Clothes"><label for="cat-clothes">Clothes</label>
									<input type="radio" name="cat" id="cat-cellphones" value="Cell Phones"><label for="cat-cellphones">Cellphones</label>
									<input type="radio" name="cat" id="cat-computers" value="Computers"><label for="cat-computers">Computers</label>
									<input type="radio" name="cat" id="cat-gardening" value="Gardening"><label for="cat-gardening">Gardening</label>
									<input type="radio" name="cat" id="cat-furniture" value="Furniture"><label for="cat-furniture">Furniture</label>
									<input type="radio" name="cat" id="cat-photovideo" value="Photo/Video"><label for="cat-photovideo">Photo/Video</label>
									<input type="radio" name="cat" id="cat-instruments" value="Musical Instruments"><label for="cat-instruments">Musical Instruments</label>
									<input type="radio" name="cat" id="cat-sports" value="Sports"><label for="cat-sports">Sports</label>
									<input type="radio" name="cat" id="cat-toysgames" value="Toys/Games"><label for="cat-toysgames">Toys/Games</label>
									<input type="radio" name="cat" id="cat-other" value="Other"><label for="cat-other">Other</label>
								</div>
							</form>
						</div>
						<hr />
						<div style="margin-right: auto; margin-left: auto;text-align:center;">
							<a class="button special" href="/">Home</a> | <a class="button special" href="search">Search</a> | <a class="button special" href="new_item">Add Listing</a>
						</div>
						<br />
					</div>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>
			<script src="{{ url_for('static',filename='js/search.js') }}" /></script>
			<script type="text/javascript">
				function checkSuccess(){
					var x = document.referrer; 
					if(x == "http://ww1.bensommer.net:5000/new_item"){
						document.getElementById('show').style.display = "block";
					};
				};
				window.onload = checkSuccess();
			</script>
	</body>
</html>
